@font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Moderat';
    src: url('/fonts/Moderat-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  /* Agrega las otras variantes de la fuente de la misma manera */
  